body {
    font-family: 'Arial', sans-serif;
    color: #444;
    margin: 0 auto;
    max-width: 40rem;
    padding: 1rem;
}


h2 {
    text-decoration: underline;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
}
