body,
html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

a.gh {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
}
a.gh img {
  border-radius: 4px;
}